extends ../layouts/default

include ../mixins/commenting
include ../mixins/post

block css
	link(href="/js/lib/fancybox/dist/jquery.fancybox.min.css", rel="stylesheet")

block content
	if !post
		.jumbotron.text-center
			h2 Invalid post...
			p.lead Please check the url and try again
	else
		.container
			.row
				.col-md-12
					p: a(href='/blog').text-muted &larr; back to the blog
					hr
					article
						header
							h1= post.name
							!= post.content.full
<<<<<<< HEAD
							each image in post.images.length ?  post.images : []
								div(style="margin-bottom: 20px; margin-top: 20px;")
									img(src=image.url).img-responsive
							hr
=======
							hr
							if post.images.length
								.row
									each image, index in post.images
										div.col-md-2(style="margin-bottom: 20px; margin-top: 20px;")
											a(data-fancybox="gallery", href=`${image.url}`)
												img(src=image.thumbnail(400,400)).img-responsive
>>>>>>> 883aaf90a310cbcbc65f5131e5ad6658c55be9e9
							div
								p.text-muted.text-small Posted
									if post.publishedDate
										| on
										time(datetime=post.publishedDate)=post._.publishedDate.format('MMMM Do, YYYY')
									if post.categories && post.categories.length
										|  in
										each cat, cat_i in post.categories
											a(href='/blog/' + cat.key)= cat.name
											if cat_i < post.categories.length - 1
												| ,
									if post.author
										| by #{post.author.name.full}
<<<<<<< HEAD
							
=======

>>>>>>> 883aaf90a310cbcbc65f5131e5ad6658c55be9e9
						//-comments
						//- div
							+comment-form()
							+comment-thread(comments)


block page-js
	script(src='/js/lib/fancybox/dist/jquery.fancybox.min.js')
	script.
		jQuery(function($) {

			$('[data-fancybox="gallery"]').fancybox({
				// Options will go here
				nextClick: true,
				infobar: true,
				animationEffect: "zoom-in-out",
				zoomOpacity: "auto",
				animationDuration: 366,
				transitionEffect: 'slide',
				toolbar: "auto",
				buttons : [
					'thumbs',
					'close'
				],
				thumbs: {
					autoStart: true, // Display thumbnails on opening
					hideOnClose: true, // Hide thumbnail grid when closing animation starts
					parentEl: ".fancybox-container", // Container is injected into this element
					axis: "y" // Vertical (y) or horizontal (x) scrolling
				},
			});

			//- var comments = $('#comments');
			//- var input = $('.comment-field-input');
			//- var submit = comments.find('button[type=submit]');


			//- // Scroll to comments and focus input field
			//- function scrollToComments(e) {

			//- 	e.preventDefault();

			//- 	$('html, body').animate({ scrollTop: comments.offset().top }, 250);

			//- 	input.eq(0).focus();
			//- }
			//- $('[href="#comments"]').click( scrollToComments );



			//- // Check if field has content: enable/disable submit. Disable by default
			//- submit.attr('disabled','disabled');
			//- input.keyup(function() {
			//- 	if ($.trim($(this).val())) {
			//- 		submit.removeAttr('disabled');
			//- 	} else {
			//- 		submit.attr('disabled','disabled');
			//- 	}
			//- });
		});
